.elementor-9 .elementor-element.elementor-element-437d42f1{--display:flex;--position:absolute;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;top:0px;--z-index:99999;}body:not(.rtl) .elementor-9 .elementor-element.elementor-element-437d42f1{left:0px;}body.rtl .elementor-9 .elementor-element.elementor-element-437d42f1{right:0px;}.elementor-9 .elementor-element.elementor-element-3c007578{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--flex-wrap:nowrap;}.elementor-9 .elementor-element.elementor-element-2d622841{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-9 .elementor-element.elementor-element-65afc5ef{width:auto;max-width:auto;}.elementor-9 .elementor-element.elementor-element-65afc5ef > .elementor-widget-container{margin:0px 0px -8px 0px;}.elementor-9 .elementor-element.elementor-element-65afc5ef.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-9 .elementor-element.elementor-element-65afc5ef .elementor-icon-wrapper{text-align:start;}.elementor-9 .elementor-element.elementor-element-65afc5ef .elementor-icon{font-size:52px;}.elementor-9 .elementor-element.elementor-element-65afc5ef .elementor-icon svg{height:52px;}.elementor-9 .elementor-element.elementor-element-65afc5ef .elementor-icon-wrapper svg{width:auto;}.elementor-9 .elementor-element.elementor-element-49dcc8a{width:auto;max-width:auto;}.elementor-9 .elementor-element.elementor-element-49dcc8a > .elementor-widget-container{margin:0px 0px -8px 0px;}.elementor-9 .elementor-element.elementor-element-49dcc8a.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-9 .elementor-element.elementor-element-49dcc8a .elementor-icon-wrapper{text-align:start;}.elementor-9 .elementor-element.elementor-element-49dcc8a .elementor-icon{font-size:40px;}.elementor-9 .elementor-element.elementor-element-49dcc8a .elementor-icon svg{height:40px;}.elementor-9 .elementor-element.elementor-element-49dcc8a .elementor-icon-wrapper svg{width:auto;}.elementor-9 .elementor-element.elementor-element-213c4057{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:center;}.elementor-9 .elementor-element.elementor-element-74fbb2e8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-9 .elementor-element.elementor-element-74fbb2e8 .elementor-nav-menu .elementor-item{font-family:var( --e-global-typography-d2cd023-font-family ), Sans-serif;font-size:var( --e-global-typography-d2cd023-font-size );font-weight:var( --e-global-typography-d2cd023-font-weight );line-height:var( --e-global-typography-d2cd023-line-height );}.elementor-9 .elementor-element.elementor-element-74fbb2e8 .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-1a46ecc );fill:var( --e-global-color-1a46ecc );padding-left:0px;padding-right:0px;padding-top:8px;padding-bottom:8px;}.elementor-9 .elementor-element.elementor-element-74fbb2e8{--e-nav-menu-horizontal-menu-item-margin:calc( 42px / 2 );}.elementor-9 .elementor-element.elementor-element-74fbb2e8 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:42px;}.elementor-9 .elementor-element.elementor-element-961ec9d{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:center;}.elementor-9 .elementor-element.elementor-element-fa6cd02 .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-d2cd023-font-family ), Sans-serif;font-size:var( --e-global-typography-d2cd023-font-size );font-weight:var( --e-global-typography-d2cd023-font-weight );line-height:var( --e-global-typography-d2cd023-line-height );border-radius:8px 8px 8px 8px;padding:8px 20px 8px 20px;}.elementor-9 .elementor-element.elementor-element-fa6cd02 .elementor-button:hover, .elementor-9 .elementor-element.elementor-element-fa6cd02 .elementor-button:focus{background-color:var( --e-global-color-secondary );}.elementor-9 .elementor-element.elementor-element-6aa9f4eb .e-off-canvas__overlay{background-color:rgba(0,0,0,.8);}.elementor-9 .elementor-element.elementor-element-6aa9f4eb{--e-off-canvas-justify-content:flex-end;--e-off-canvas-align-items:flex-start;--e-off-canvas-width:730px;--e-off-canvas-height:100vh;--e-off-canvas-content-overflow:auto;--e-off-canvas-animation-duration:0.2s;--e-off-canvas-overlay-opacity:1;}.elementor-9 .elementor-element.elementor-element-65fa1391{--display:flex;--min-height:100vh;--justify-content:space-between;--padding-top:50px;--padding-bottom:50px;--padding-left:50px;--padding-right:50px;--z-index:2147483630;}.elementor-9 .elementor-element.elementor-element-65fa1391:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-65fa1391 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-9 .elementor-element.elementor-element-9cc3cfc{--display:flex;--gap:60px 60px;--row-gap:60px;--column-gap:60px;}.elementor-9 .elementor-element.elementor-element-75b0739b{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;}.elementor-9 .elementor-element.elementor-element-5adaa2e4{text-align:start;}.elementor-9 .elementor-element.elementor-element-5adaa2e4 img{width:184px;}.elementor-9 .elementor-element.elementor-element-42876cec{--display:flex;--min-height:30px;--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--gap:0px 0px;--row-gap:0px;--column-gap:0px;--border-radius:9999px 9999px 9999px 9999px;}.elementor-9 .elementor-element.elementor-element-42876cec.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-9 .elementor-element.elementor-element-7ca1dd23.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-9 .elementor-element.elementor-element-7ca1dd23 .elementor-icon-wrapper{text-align:center;}.elementor-9 .elementor-element.elementor-element-7ca1dd23 .elementor-icon{font-size:10px;}.elementor-9 .elementor-element.elementor-element-7ca1dd23 .elementor-icon svg{height:10px;}.elementor-9 .elementor-element.elementor-element-20dbdf85{--display:flex;}.elementor-9 .elementor-element.elementor-element-50e96187 .elementor-nav-menu--dropdown a{padding-top:14px;padding-bottom:14px;}.elementor-9 .elementor-element.elementor-element-10be16ac{--display:flex;--padding-top:0px;--padding-bottom:50px;--padding-left:0px;--padding-right:0px;}.elementor-theme-builder-content-area{height:400px;}.elementor-location-header:before, .elementor-location-footer:before{content:"";display:table;clear:both;}@media(max-width:1366px){.elementor-9 .elementor-element.elementor-element-437d42f1{--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-9 .elementor-element.elementor-element-74fbb2e8 .elementor-nav-menu .elementor-item{font-size:var( --e-global-typography-d2cd023-font-size );line-height:var( --e-global-typography-d2cd023-line-height );}.elementor-9 .elementor-element.elementor-element-fa6cd02 .elementor-button{font-size:var( --e-global-typography-d2cd023-font-size );line-height:var( --e-global-typography-d2cd023-line-height );}}@media(max-width:1024px){.elementor-9 .elementor-element.elementor-element-437d42f1{--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-9 .elementor-element.elementor-element-3c007578{--flex-wrap:wrap;}.elementor-9 .elementor-element.elementor-element-2d622841{--justify-content:flex-start;--align-items:flex-start;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--gap:24px 24px;--row-gap:24px;--column-gap:24px;}.elementor-9 .elementor-element.elementor-element-65afc5ef.elementor-element{--flex-grow:1;--flex-shrink:0;}.elementor-9 .elementor-element.elementor-element-49dcc8a.elementor-element{--flex-grow:1;--flex-shrink:0;}.elementor-9 .elementor-element.elementor-element-213c4057{--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:center;}.elementor-9 .elementor-element.elementor-element-74fbb2e8 .elementor-nav-menu .elementor-item{font-size:var( --e-global-typography-d2cd023-font-size );line-height:var( --e-global-typography-d2cd023-line-height );}.elementor-9 .elementor-element.elementor-element-74fbb2e8 .elementor-nav-menu--main .elementor-item{padding-top:0px;padding-bottom:0px;}.elementor-9 .elementor-element.elementor-element-961ec9d{--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:center;}.elementor-9 .elementor-element.elementor-element-413e0cf img{width:100%;}.elementor-9 .elementor-element.elementor-element-fa6cd02 .elementor-button{font-size:var( --e-global-typography-d2cd023-font-size );line-height:var( --e-global-typography-d2cd023-line-height );}.elementor-9 .elementor-element.elementor-element-42876cec{--min-height:30px;}}@media(max-width:767px){.elementor-9 .elementor-element.elementor-element-437d42f1{--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-9 .elementor-element.elementor-element-3c007578{--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--flex-wrap:nowrap;}.elementor-9 .elementor-element.elementor-element-2d622841{--width:auto;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--gap:10px 10px;--row-gap:10px;--column-gap:10px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-9 .elementor-element.elementor-element-65afc5ef.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-9 .elementor-element.elementor-element-65afc5ef .elementor-icon{font-size:42px;}.elementor-9 .elementor-element.elementor-element-65afc5ef .elementor-icon svg{height:42px;}.elementor-9 .elementor-element.elementor-element-49dcc8a.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-9 .elementor-element.elementor-element-49dcc8a .elementor-icon{font-size:27px;}.elementor-9 .elementor-element.elementor-element-49dcc8a .elementor-icon svg{height:27px;}.elementor-9 .elementor-element.elementor-element-74fbb2e8 .elementor-nav-menu .elementor-item{font-size:var( --e-global-typography-d2cd023-font-size );line-height:var( --e-global-typography-d2cd023-line-height );}.elementor-9 .elementor-element.elementor-element-fa6cd02 .elementor-button{font-size:var( --e-global-typography-d2cd023-font-size );line-height:var( --e-global-typography-d2cd023-line-height );}.elementor-9 .elementor-element.elementor-element-65fa1391{--padding-top:50px;--padding-bottom:50px;--padding-left:20px;--padding-right:20px;}.elementor-9 .elementor-element.elementor-element-42876cec{--width:30px;--min-height:30px;}}@media(min-width:768px){.elementor-9 .elementor-element.elementor-element-2d622841{--width:auto;}.elementor-9 .elementor-element.elementor-element-42876cec{--width:30px;}}@media(max-width:1024px) and (min-width:768px){.elementor-9 .elementor-element.elementor-element-42876cec{--width:30px;}}/* Start custom CSS for container, class: .elementor-element-2d622841 */.elementor-9 .elementor-element.elementor-element-2d622841 {
    height: fit-content;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-74fbb2e8 *//*@media screen and (width >= 1024px) {*/
/*    .elementor-9 .elementor-element.elementor-element-74fbb2e8 {*/
/*        display: flex !important; */
/*    }*/
/*}*/

/*@media screen and (width <= 1024px) {*/
/*    .elementor-9 .elementor-element.elementor-element-74fbb2e8 {*/
/*        display: none !important; */
/*    }*/
/*}*/

/*@media screen and (width <= 767px) {*/
/*    .elementor-9 .elementor-element.elementor-element-74fbb2e8 {*/
/*        display: none !important; */
/*    }*/
/*}*/


/*.elementor-9 .elementor-element.elementor-element-74fbb2e8 ul li:nth-last-child(1) {*/
/*    display: none;*/
/*    background: #101820 !important;*/
/*    padding-right: 20px;*/
/*    border: 2px solid white;*/
/*    border-radius: 8px*/
/*;*/
/*}*//* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-213c4057 */.elementor-9 .elementor-element.elementor-element-213c4057 {
    width: fit-content;
}

@media screen and (width <= 1024px) {
    .elementor-9 .elementor-element.elementor-element-213c4057 {
        display: none !important; 
    }
}

@media screen and (width <= 767px) {
    .elementor-9 .elementor-element.elementor-element-213c4057 {
        display: none !important; 
    }
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-413e0cf */.elementor-9 .elementor-element.elementor-element-413e0cf {
    width: fit-content;
}

@media screen and (width >= 1024px) {
    .elementor-9 .elementor-element.elementor-element-413e0cf {
        display: none !important; 
    }
}

/*@media screen and (width <= 1024px) {*/
/*    .elementor-9 .elementor-element.elementor-element-413e0cf {*/
/*        display: none !important; */
/*    }*/
/*}*/

@media screen and (width <= 767px) {
    .elementor-9 .elementor-element.elementor-element-413e0cf {
        display: flex !important; 
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-fa6cd02 */@media screen and (width <= 1024px) {
    .elementor-9 .elementor-element.elementor-element-fa6cd02 {
        display: none !important; 
    }
}

@media screen and (width <= 767px) {
    .elementor-9 .elementor-element.elementor-element-fa6cd02 {
        display: none !important; 
    }
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-961ec9d */.elementor-9 .elementor-element.elementor-element-961ec9d {
    width: fit-content;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-5adaa2e4 */.elementor-9 .elementor-element.elementor-element-5adaa2e4 {
    width: fit-content;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-7ca1dd23 */.elementor-9 .elementor-element.elementor-element-7ca1dd23 svg g rect {
    fill: var(--e-global-color-6d976da);
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-50e96187 */.elementor-9 .elementor-element.elementor-element-50e96187 .elementor-nav-menu--dropdown ul li {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 20px !important;
  padding-right: 0px !important;
  overflow-y: hidden;
}

.elementor-9 .elementor-element.elementor-element-50e96187 .elementor-nav-menu--dropdown ul li:last-child {
  padding-bottom: 0px !important;
}

/* Remove default value */
.elementor-9 .elementor-element.elementor-element-50e96187 .elementor-nav-menu--dropdown ul li a {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
}

.elementor-9 .elementor-element.elementor-element-50e96187 .elementor-nav-menu--dropdown ul li a:hover {
  color: var(--e-global-color-1cb31d9);
}

.elementor-9 .elementor-element.elementor-element-50e96187 .elementor-nav-menu--dropdown .sub-menu li a:hover {
  color: var(--e-global-color-1cb31d9);
  text-decoration: underline;
}

.elementor-9 .elementor-element.elementor-element-50e96187 .elementor-nav-menu--dropdown ul li a:active {
  background-color: unset !important;
}

.elementor-9 .elementor-element.elementor-element-50e96187 .elementor-nav-menu--dropdown a:hover {
  background-color: unset !important;
}

.elementor-9 .elementor-element.elementor-element-50e96187 .sub-menu .menu-item {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 15px !important;
  padding-right: 0px !important;
}

.elementor-9 .elementor-element.elementor-element-50e96187 .sub-menu .menu-item:first-child {
  padding-top: 16px !important;
}

.elementor-9 .elementor-element.elementor-element-50e96187 .sub-menu .menu-item:last-child {
  padding-bottom: 0px !important;
}

.elementor-9 .elementor-element.elementor-element-50e96187 .menu-item a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.elementor-9 .elementor-element.elementor-element-50e96187 .sub-menu .elementor-sub-item {
  font-family: var(--e-global-typography-8179466-font-family), Sans-serif;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.elementor-9 .elementor-element.elementor-element-50e96187 .sub-arrow {
  padding-left: 10px;
}

.elementor-9 .elementor-element.elementor-element-50e96187 .sub-arrow svg path {
  fill: var(--e-global-color-1cb31d9);
}

.elementor-9 .elementor-element.elementor-element-50e96187 .menu-item-has-children li a{
    opacity: 0.7;
}

.elementor-9 .elementor-element.elementor-element-50e96187 .menu-item-has-children li a:hover,

  color: var(--e-global-color-98d8101);
  opacity: 1;
}

.elementor-9 .elementor-element.elementor-element-50e96187 .menu-item-has-children li a:nth-child(3n + 1) {
  padding-top: 0;
  padding-bottom: 15px;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-437d42f1 */.header.elementor-sticky--effects {
    background: rgba(255, 255, 255, 0.55);
    -webkit-backdrop-filter: blur(5px); /* Safari-specific */
    backdrop-filter: blur(10px);
}

.header.elementor-sticky--effects .logo-header{
     width: 150px;
         -webkit-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}

.header.elementor-sticky--effects,
.main-menu{
    -webkit-transition: .5s all ease-in-out; /* Safari-specific */
    transition: .5s all ease-in-out;
}

.elementor-widget-off-canvas .e-off-canvas {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483630;
}/* End custom CSS */